@()

<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Login</title>
    </head>
    <body>
        <form role="form"
        action="@routes.ApplicationController.login()">
            <div class="form-group">
                <label for="username">Username</label>
                <input class="form-control" data-ng-model="username"
                data-ng-change="feedback = ''" autofocus>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input class="form-control" data-ng-model="password"
                type="password" data-ng-change="feedback = ''">
            </div>
            <input type="submit" value="Login">
        </form>
    </body>
</html>