@(title: String = "login", loginForm: LoginForm)(content: Html)

<!DOCTYPE html>
<html lang="es">
    <head>
        <title>@title</title>
    </head>
    <body>
        @content
        <form action="@{Session.login}" method="post">
            <input type="text" name="username" placeholder="usuario"/>
            <input type="password" name="password" placeholder="***">
            <button type="submit">Entrar</button>
        </form>
    </body>
</html>

@(page: String, isLoggedIn: Boolean, userInfo: UserInfo, loginForm: Form[views.formdata.LoginFormData])

@import bootstrap3._

@Main(page, isLoggedIn, userInfo) {
    <div class="container">
    @loginform(routes.Application.postLogin(), loginForm("email"), loginForm("password"))
    </div>
}